<div class="relative w-full h-full block">
  <%= image_tag talk.thumbnail_xl, class: "w-full h-full object-cover rounded-xl" %>

  <div class="absolute inset-0 text-center text-white bg-black/80 flex flex-col gap-3 justify-center items-center font-bold text-xl rounded-xl p-6">
    <span class="bg-black/30 p-4 rounded-full">
      <%= fa("clock", size: :lg, class: "fill-white") %>
    </span>

    <% if talk.date.past? %>
      This talk was
    <% else %>
      This talk is scheduled to be
    <% end %>

    held at <%= talk.event.name %>

    <% if talk.event.location && !talk.event.location.in?(["Earth", "online", "Online"]) %>
      in <%= talk.event.location %>
    <% end %>

    on <%= talk.formatted_date %>.
  </div>
</div>
