<% cache [speaker, speaker_counter] do %>
  <tr>
    <td class="font-bold"><%= speaker_counter + 1 %></td>
    <td style="view-transition-name: <%= dom_id(speaker, :Leaderboard) if speaker_counter < 10 %>">
      <%= link_to speaker_path(speaker), class: "link link-hover" do %>
        <div class="flex items-center gap-4">
          <% if speaker.github.present? %>
            <%= image_tag speaker.github_avatar_url(size: 128), class: "rounded-full w-10 h-10", alt: "GitHub picture profile of #{speaker.name}", loading: :lazy %>
          <% else %>
            <div class="rounded-full w-10 h-10 bg-gray-200"></div>
          <% end %>

          <%= speaker.name %>
        </div>
      <% end %>
    </td>
    <td style="view-transition-name: <%= dom_id(speaker, :Leaderboard_count) if speaker_counter < 10 %>">
      <%= ui_badge(speaker.talks_count, kind: :secondary, outline: true, size: :lg, class: "min-w-10") %>
    </td>
  </tr>
<% end %>
