<%= turbo_stream.update "events_search_results", method: "morph" do %>
  <div class="flex items-center flex-wrap gap-2 py-4">
    <h2>Events</h2>
    <% if @events.size.positive? %>
      <span class="text-sm text-gray-500">(<%= @events.size %> of <%= @events_count %>)</span>
      <%= link_to events_path(s: search_query), class: "link text-sm text-gray-500", target: "_top" do %>
        all events results for <strong class="text-base-content"><%= search_query %></strong>
      <% end %>
    <% end %>
  </div>

  <div class="flex flex-col gap-2">
    <% cache @events do %>
      <%= render partial: "spotlight/events/event", collection: @events, as: :event %>
    <% end %>

    <div class="hidden only:block">No events found for <strong><%= search_query %></strong></div>
  </div>
<% end %>
