<div class="container flex flex-col w-full gap-4 my-8">
  <% back_path = params[:back_to].presence || topics_path %>
  <% back_to_title = params[:back_to_title].presence || "Topics" %>
  <%= link_to back_path do %>
    <div class="flex items-center gap-2 title text-primary">
      <%= heroicon :arrow_long_left, class: "transition-arrow" %>
      <div><%= back_to_title %></div>
    </div>
  <% end %>
  <div class="flex items-center gap-2 title text-primary">
    <h1 class="mb-4" style="view-transition-name: title"><%= @topic.name %></h1>
  </div>
  <%= turbo_frame_tag "grid-talks", src: talks_path(topic: @topic.slug, back_to: request.fullpath, back_to_title: @topic.name), target: "_top" %>
</div>
