<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<div class="container py-8">
  <div class="block lg:flex gap-8 align-center justify-between">
    <div class="flex flex-col lg:flex-row gap-8 items-center lg:justify-right text-center lg:text-left mb-6 lg:mb-0">
      <%= image_tag image_path(@events.first.avatar_image_path),
            class: "rounded-full border border-[#D9DFE3] size-24 md:size-36",
            alt: "#{@organisation.name} Avatar",
            loading: :lazy %>

      <div class="flex-col flex justify-center">
        <h1 class="mb-2 text-black font-bold" style="view-transition-name: title"><%= @organisation.name %></h1>
        <h3 class="hidden md:block text-[#636B74]"><%= pluralize(@organisation.events.count, "event") %>
          <% if @organisation.youtube_channel_name.present? %>
            - @<%= @organisation.youtube_channel_name %>
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <p class="mt-3 md:mt-9 mb-6 text-[#636B74] max-w-[700px]">
    <%= @organisation.description %>
  </p>

  <% if (featured_event = @events.find { |event| event.featurable? }) %>
    <div class="hidden lg:block">
      <%= render partial: "events/featured", locals: {event: featured_event} %>
    </div>
  <% end %>

  <% if @events.any? %>
    <div id="events" class="mt-12">
      <section class="flex flex-col w-full gap-4">
        <div class="flex items-center justify-between w-full">
          <h2 class="text-primary shrink-0">Events</h2>
        </div>
        <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
          <%= render partial: "events/card", collection: @events, as: :event %>
        </div>
      </section>
    </div>
  <% end %>
</div>
