<% days = event.schedule_file.dig("days") %>
<% tracks = event.schedule_file.dig("tracks") %>
<% talk_count = 0 %>

<style>
  .tab:is(input[type="radio"]):after {
    width: 200px;
  }
</style>

<div role="tablist" class="tabs tabs-lifted w-full">
  <% days.each_with_index do |day, index| %>
    <% date_string = Date.parse(day.dig("date")).strftime("%A (%b %d, %Y)") %>

    <input type="radio" name="days" role="tab" class="tab" aria-label="<%= date_string %>" <% if index == 0 %>checked="checked"<% end %> />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
      <h1 class="mb-6"><%= day.dig("name") %> - <%= date_string %></h1>

      <% max_cols = day.dig("grid").map { |grid| grid["slots"] }.max %>

      <div class="border text-center">
        <% day.dig("grid").each do |grid| %>
          <% start_time = grid["start_time"] %>
          <% end_time = grid["end_time"] %>
          <% slots = grid["slots"] %>
          <% items = grid["items"] || [] %>

          <% colspan = (slots != max_cols) ? (max_cols / slots) : 1 %>

          <div class="mt-6">
            <div class="border bg-white text-xs p-2" colspan="<%= max_cols %>"><%= start_time %> - <%= end_time %></div>
          </div>

          <div class="grid grid-cols-<%= max_cols %> divide-x">
            <% slots.times do |i| %>
              <% talk_tag = items.any? ? :div : :a %>
              <% talk = items.any? ? nil : event.talks[talk_count] %>

              <%= content_tag talk_tag, href: (talk ? talk_path(talk) : "#"), class: "group bg-white text-black hover:bg-primary hover:text-white text-xs p-3 col-span-#{colspan}" do %>
                <% if items.any? %>
                  <span class="p-24"><%= items[i] %></span>
                <% elsif talk %>
                  <% talk_track = talk.static_metadata.track %>
                  <% track = tracks.find { |track| track["name"] == talk_track } %>

                  <% if track && talk_track %>
                    <span class="py-1 px-2 mb-4 rounded flex-inline justify-center" style="background: <%= track["color"] %>; color: <%= track["text_color"] %>">
                      <%= talk_track %>
                    </span>
                  <% elsif slots == max_cols %>
                    <span class="py-1 px-2 mb-4">&nbsp;</span>
                  <% end %>

                  <div class="h-4">&nbsp;</div>

                  <div class="flex-col">
                    <div class="text-md font-bold"><%= talk.title %></div><br/>
                    <div class="text-gray-500 group-hover:text-white"><%= talk.speakers.map(&:name).join(", ") %></div>
                  </div>

                  <% talk_count += 1 %>
                <% else %>
                  No talk found
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
