
<div class="max-w-sm bg-white" id="<%= dom_id talk %>">
  <%= link_to talk_path(talk, speaker_slug: local_assigns.fetch(:speaker_slug, nil)), class: "flex aspect-video" do %>
    <%= image_tag talk.thumbnail_sm,
          srcset: ["#{talk.thumbnail_lg} 2x"],
          id: dom_id(talk),
          height: 174,
          width: 310,
          alt: "talk by #{talk.speakers.join(", ")}: #{talk.title}",
          style: "view-transition-name: #{dom_id(talk, :image)}",
          class: "rounded-lg w-full object-cover" %>
  <% end %>
  <div class="py-4">
    <div class="flex items-start gap-2">
      <% if talk.speakers.last&.github&.present? && local_assigns.fetch(:picture_profile, true) %>
        <%= image_tag talk.speakers.last.github_avatar_url(size: 64),
              class: "rounded-full w-8 h-8 mr-2",
              alt: "Github picture profile of #{talk.speakers.last.github}",
              loading: :lazy %>
      <% end %>
      <div>
        <%= link_to talk do %>
          <%= content_tag :h2, talk.title, class: "py-2 text-base" %>
        <% end %>
        <div class="flex flex-col text-gray">
            <% if talk.event %>
              <%#= link_to talk.event.name, talk.event %>
              <%= content_tag :div, talk.event.name %>
            <% end %>

            <strong class="mt-5">Speakers:</strong>
            <% talk.speakers.first(10).each do |speaker| %>
              <%= link_to speaker.name, speaker_path(speaker) %>
            <% end %>
            <div class="my-2">
              <% if talk.speakers.count > 10 %>
                <span class="text-red">and <%= talk.speakers.count - 10 %> more speakers</span>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
