<%# locals: (talk:, current_talk: nil, compact: false) -%>

<% active = talk == current_talk %>

<%= link_to talk_path(talk), class: class_names("w-full flex items-center gap-4 p-2 rounded-lg hover:bg-gray-200", "bg-gray-200": active), id: dom_id(talk, :card_horizontal), data: {talk_horizontal_card: true} do %>
  <div class="flex aspect-video shrink-0 relative w-20 relative w-full h-full block">
    <%= image_tag talk.thumbnail_sm, srcset: ["#{talk.thumbnail_sm} 2x"], id: dom_id(talk), class: "w-full h-auto object-cover border rounded", loading: :lazy %>

    <% if active %>
      <div class="absolute inset-0 bg-black/50 flex justify-center items-center rounded">
        <%= fa("play", size: :sm, class: "fill-white") %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col gap-1 text-sm">
    <%= content_tag :div, class: "" do %>
      <%= content_tag :div, talk.title, class: "font-regular line-clamp-1" %>
    <% end %>

    <div class="flex items-start gap-2 font-light">
      <% if talk.speakers.size > 1 %>
        <%#= heroicon :users, size: :xs, class: "shrink-0 grow-0" %>
      <% else %>
        <%#= heroicon :user, size: :xs, class: "shrink-0 grow-0" %>
      <% end %>

      <div class="line-clamp-1 text-gray-500">
        <% speaker_names = talk.speakers.map { |speaker| link_to speaker.name, speaker_path(speaker), class: "link link-ghost" } %>
        <%= talk.speakers.map(&:name).to_sentence %>
      </div>
    </div>
  </div>
<% end %>
