<%# locals: (talk:, user_favorite_talks_ids: [], favoritable: false, back_to: nil, back_to_title: nil) -%>

<% language = Language.by_code(talk.language) %>

<div class="card card-compact bg-white shadow-xl w-full" id="<%= dom_id talk %>">
  <%= link_to talk_path(talk, back_to: back_to, back_to_title: back_to_title), class: "flex aspect-video overflow-hidden relative" do %>
    <% if language && language != "English" %>
      <div class="absolute top-0 left-0 z-10 m-3 p-1 px-2 bg-black/15 backdrop-blur-md rounded-full group">
        <span><%= language_to_emoji(language) %></span>
        <span class="group-hover:inline-block hidden text-white text-sm ml-1"><%= language %></span>
      </div>
    <% end %>

      <%= image_tag talk.thumbnail_lg,
            srcset: ["#{talk.thumbnail_lg} 2x"],
            id: dom_id(talk),
            height: 174,
            width: 310,
            alt: "talk by #{talk.speakers.map(&:name).join(", ")}: #{talk.title}",
            style: "view-transition-name: #{dom_id(talk, :image)}",
            class: "w-full object-cover rounded-t-xl" %>
  <% end %>
  <div class="card-body flex flex-row justify-between items-start gap-2">
    <div class="flex flex-col items-start h-full justify-between gap-2 w-full">
      <div class="flex items-start justify-between gap-2 w-full">
        <%= link_to talk_path(talk, back_to: back_to, back_to_title: back_to_title) do %>
          <%= content_tag :h2, class: "text-sm font-sans font-medium" do %>
            <%= sanitize(talk.title_with_snippet, tags: ["mark"]) %>
          <% end %>
        <% end %>
      </div>
      <div class="flex gap-2 items-end justify-between w-full">
        <div class="flex flex-col text-sm w-full flex-grow">
          <div class="flex items-center gap-2 font-light">
            <% speakers_count = talk.speakers.size %>
            <% if speakers_count > 1 %>
              <%= heroicon :users, size: :sm, class: "shrink-0 grow-0 my-1" %>
            <% elsif speakers_count == 1 %>
              <%= heroicon :user, size: :sm, class: "shrink-0 grow-0 my-1" %>
            <% end %>

            <div class="line-clamp-1">
              <% speaker_names = talk.speakers.map { |speaker| link_to speaker.name, speaker_path(speaker), class: "link link-ghost" } %>
              <%= sanitize speaker_names.join(", ") %>
            </div>
          </div>
          <% if talk.event %>
            <div class="flex items-center gap-2 font-light">
              <%= heroicon :map_pin, size: :sm, class: "shrink-0 grow-0" %>
              <%= link_to talk.event.name, talk.event, class: "link link-ghost line-clamp-1" %>
            </div>
          <% end %>
        </div>
        <% if favoritable %>
          <div class="self-end">
            <% if default_watch_list %>
              <% if user_favorite_talks_ids.include?(talk.id) %>
                <%= button_to watch_list_talk_path(default_watch_list, talk.id), method: :delete do %>
                  <%= heroicon :bookmark, class: "text-primary shrink-0 cursor-pointer mt-1", variant: :solid, size: :sm %>
                <% end %>
              <% else %>
                <%= button_to watch_list_talks_path(default_watch_list, talk_id: talk.id), method: :post do %>
                  <%= heroicon :bookmark, class: "shrink-0 cursor-pointer mt-1", variant: :outline, size: :sm %>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to sign_in_path(redirect_to: request.fullpath), data: {turbo_frame: "modal"} do %>
                <%= heroicon :bookmark, class: "shrink-0 cursor-pointer mt-1", variant: :outline, size: :sm %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
