<div class="bg-white" data-controller="filters">
  <div>
    <div class="relative z-40 lg:hidden" role="dialog">
      <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px] tertiary" data-action="click->filters#toggleVisibility">
        <span class="sr-only">Filter</span>
        <%= heroicon :funnel %>
      </button>
      <div class="fixed inset-0 bg-black bg-opacity-25" data-filters-target="overlay"></div>
      <div class="fixed inset-0 z-40 flex" data-filters-target="menu">
        <div class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl">
          <div class="flex items-center justify-between px-4">
            <h2 class="text-lg font-medium text-gray-900">Filters</h2>
            <button type="button" data-action="click->filters#closeVisibility" class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
              <span class="sr-only">Close filters</span>
              <%= heroicon :x_mark %>
            </button>
          </div>

          <div class="border-t border-gray-200 px-4 py-6" data-controller="section">
            <h3 class="-mx-2 -my-3 flow-root">
              <button type="button" data-action="click->section#toggleVisibility" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500">
                  <span class="font-medium text-gray-900">Year</span>
                  <span class="font-medium text-gray-900 hidden" data-section-target="plus">
                    <%= heroicon :plus %>
                  </span>
                  <span class="font-medium text-gray-900" data-section-target="minus">
                    <%= heroicon :minus %>
                  </span>
                </button>
            </h3>
            <div class="" data-section-target="content">
              <div class="space-y-6">
                <%= form.collection_check_boxes(:year, Talk.pluck(:year).compact.uniq.sort, :to_s, :to_s) do |year| %>
                  <div class="flex items-center">
                    <%= year.check_box(data: {action: "change->filters#syncCheckboxes"}, id: "filter-year-#{year.value}", class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500") %>
                    <%= label_tag "filter-mobile-year-#{year.value}", year.text, class: "ml-3 min-w-0 flex-1 text-gray-500" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="border-t border-gray-200 px-4 py-6" data-controller="section">
            <h3 class="-mx-2 -my-3 flow-root">
              <button type="button" data-action="click->section#toggleVisibility" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500">
                  <span class="font-medium text-gray-900">Event name</span>
                  <span class="font-medium text-gray-900 hidden" data-section-target="plus">
                    <%= heroicon :plus %>
                  </span>
                  <span class="font-medium text-gray-900" data-section-target="minus">
                    <%= heroicon :minus %>
                  </span>
                </button>
            </h3>
            <div class="" data-section-target="content">
              <div class="space-y-6">
                <% confs = Talk.includes(:event).pluck("events.id", "events.name").uniq %>
                <%= form.collection_check_boxes(:event_ids, confs, :first, :second) do |talk| %>
                  <div class="flex items-center">
                    <%= talk.check_box(class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500") %>
                    <%= label_tag talk.value, talk.text, class: "ml-3 min-w-0 flex-1 text-gray-500" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 hidden lg:block">
      <section class="pt-6">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
          <div class="border-t border-gray-200 px-4 py-6" data-controller="section">
            <h3 class="-mx-2 -my-3 flow-root">
              <button type="button" data-action="click->section#toggleVisibility" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500">
                <span class="font-medium text-gray-900">Year</span>
                <span class="font-medium text-gray-900 hidden" data-section-target="plus">
                  <%= heroicon :plus %>
                </span>
                <span class="font-medium text-gray-900" data-section-target="minus">
                  <%= heroicon :minus %>
                </span>
              </button>
            </h3>
            <div class="" data-section-target="content">
              <div class="space-y-6">
                <%= form.collection_check_boxes(:years, Talk.pluck(:year).compact.uniq.sort, :to_s, :to_s) do |year| %>
                  <div class="flex items-center">
                    <%= year.check_box(data: {action: "change->filters#syncCheckboxes"}, id: "filter-mobile-year-#{year.value}", class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500") %>
                    <%= label_tag "filter-mobile-year-#{year.value}", year.text, class: "ml-3 min-w-0 flex-1 text-gray-500" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="border-t border-gray-200 px-4 py-6" data-controller="section">
            <h3 class="-mx-2 -my-3 flow-root">
              <button type="button" data-action="click->section#toggleVisibility" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500">
                <span class="font-medium text-gray-900">Event name</span>
                <span class="font-medium text-gray-900 hidden" data-section-target="plus">
                  <%= heroicon :plus %>
                </span>
                <span class="font-medium text-gray-900" data-section-target="minus">
                  <%= heroicon :minus %>
                </span>
              </button>
            </h3>
            <div class="" data-section-target="content">
              <div class="space-y-6">
                <%= form.collection_check_boxes(:event_ids, confs, :first, :second) do |talk| %>
                  <div class="flex items-center">
                    <%= talk.check_box(class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500") %>
                    <%= label_tag talk.value, talk.text, class: "ml-3 min-w-0 flex-1 text-gray-500" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
