<%= link_to speaker, class: "flex flex-col gap-4 hover:bg-gray-200 transition-bg duration-300 ease-in-out p-2 px-4 rounded-lg", data: {turbo_frame: "_top"} do %>
  <div class="flex items-center gap-4">
    <div class="avatar placeholder">
      <div class="w-12 rounded-full bg-primary text-neutral-content">
        <% if speaker.custom_avatar? %>
          <%= image_tag speaker.avatar_url(size: 48) %>
        <% else %>
          <span class="text-lg"><%= speaker.name.split(" ").map(&:first).join %></span>
        <% end %>
      </div>
    </div>

    <div>
      <div class="font-bold text-base line-clamp-1 flex items-center gap-1.5">
        <span class="line-clamp-1"><%= speaker.name %></span>

        <% if speaker.verified? %>
          <%= fa("badge-check", class: "fill-blue-500", size: :xs) %>
        <% end %>
      </div>

      <div class="text-xs text-gray-500 line-clamp-1">
        <% if speaker.github.present? %>
          <%= "@#{speaker.github}" %>
        <% elsif speaker.bsky.present? %>
          <%= "@#{speaker.bsky}" %>
        <% else %>
          <%= pluralize(speaker.talks.count, "talk") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
