<% classes = "bg-white hover:bg-gray-100 cursor-pointer px-4 py-2 text-sm text-gray-500 rounded-full border font-bold select-none" %>
<% active_classes = "bg-red-500 hover:bg-red-600 text-white border-red-500" %>

<% talks_by_language = talks.group_by(&:language) %>
<% talks_by_kind = talks.group_by(&:kind) %>

<% if talks_by_language.length >= 2 || talks_by_kind.length >= 2 %>
  <div class="mb-6" data-controller="talks-filter" data-talks-filter-active-class="<%= active_classes %>">
    <div class="flex divide-x">
      <% if talks_by_kind.length >= 2 %>
        <div class="flex gap-2 mb-3 pr-6 justify-center">
          <% talks_by_kind.each do |kind, talks| %>
            <div data-action="click->talks-filter#selectKind" data-talks-filter-target="button" class="<%= classes %>" data-kind-value="<%= kind %>">
              <%= kind.humanize.pluralize %>
              <span class="count count-kind count-language-all">(<%= talks.length %>)</span>

              <% talks_by_language.each do |language, talks| %>
                <span class="hidden count count-kind count-language-<%= language %>">(<%= talks.select { |talk| talk.kind == kind }.count %>)</span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if talks_by_language.length >= 2 %>
        <div class="flex gap-2 mb-3 px-6 justiy-center">
          <% talks_by_language.each do |language, talks| %>
            <div data-action="click->talks-filter#selectLanguage" data-talks-filter-target="button" class="<%= classes %>" data-language-value="<%= language %>">
              <%= Language.by_code(language) %>
              <span class="count count-language count-kind-all">(<%= talks.length %>)</span>

              <% talks_by_kind.each do |kind, talks| %>
                <span class="hidden count count-language count-kind-<%= kind %>">(<%= talks.select { |talk| talk.language == language }.count %>)</span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="hidden" data-talks-filter-target="none">
      <div class="w-full border bg-white text-gray-500 flex justify-center content-center font-medium text-lg rounded-lg py-10 mt-6">
        No videos matched your filters.
      </div>
    </div>
  </div>
<% end %>
