<%# locals: (talk:) -%>

<% video_player_controller = talk.external_player ? nil : "video-player" %>
<%= content_tag :div, id: dom_id(talk),
      data: {
        controller: video_player_controller,
        video_player_poster_value: talk.thumbnail_xl,
        video_player_provider_value: (talk.video_provider == "mp4") ? nil : talk.video_provider,
        video_player_src_value: talk.video_id
      } do %>

  <div class="aspect-video banner-img card-horizontal-img relative rounded-xl overflow-hidden outline outline-1 bg-gray-300 outline-gray-300" style="view-transition-name: <%= dom_id(talk, :image) %>">
    <% if talk.external_player %>
      <%= link_to talk.external_player_url, target: "_blank", class: "relative w-full h-full block" do %>
        <%= image_tag talk.thumbnail_xl, class: "w-full h-full object-cover rounded-xl" %>

        <div class="absolute inset-0 text-center text-white bg-black/80 flex flex-col gap-6 justify-center items-center font-bold text-xl rounded-xl">
          This talk is only viewable on <%= URI.parse(talk.external_player_url).host %>

          <%= ui_button do %>
            <%= fa("play", size: :sm, class: "fill-white") %> Play on <%= URI.parse(talk.external_player_url).host %>
          <% end %>
        </div>
      <% end %>

    <% else %>
      <% if talk.video_provider == "mp4" %>
        <video id="player" class="rounded-xl" data-video-player-target="player" src="<%= talk.video_id %>"></video>
      <% elsif talk.video_provider == "youtube" %>
        <div
          class="image rounded-xl"
          id="<%= dom_id(talk, :youtube) %>"
          data-video-player-target="player"
          data-youtube-id="<%= talk.video_id %>"></div>
      <% else %>
        Provider <%= talk.video_provider %> is not configured.
      <% end %>
    <% end %>

  </div>

  <div class="py-4 flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <div class="flex justify-between">
        <div class="font-bold text-xl">
          <%= talk.title %>
        </div>

        <div class="tooltip tooltip-top" data-tip="You can suggest some modifications to this talk">
          <%= link_to edit_talk_path(talk), class: "flex gap-2 items-center rounded-full border bg-gray-100 hover:bg-gray-200/50 border-gray-200 font-regular px-3 py-1 text-sm" do %>
            <%= heroicon :pencil, size: :sm %>
            <span>Edit</span>
          <% end %>
        </div>
      </div>

      <div class="flex flex-wrap gap-2 justify-between">
        <div class="flex flex-wrap">
          <% speaker_size = 2 %>
          <% more_speakers = talk.speakers.size > speaker_size %>
          <% speaker_preview_count = more_speakers ? 1 : 2 %>

          <% talk.speakers.take(speaker_preview_count).each do |speaker| %>
            <%= content_tag :div, class: class_names("hidden xl:block" => more_speakers) do %>
              <%= render partial: "talks/speaker", locals: {speaker: speaker} %>
            <% end %>
          <% end %>

          <% if more_speakers %>
            <div class="flex flex-col gap-4 hover:bg-gray-200 transition-bg duration-300 ease-in-out p-2 px-4 rounded-lg cursor-pointer" class="tooltip tooltip-top tooltip-success" onclick="document.querySelector('[name=talk_tabs][aria-label=Speakers]').checked = true" data-tip="<%= talk.speakers.to_a.from(2).map(&:name).to_sentence %>">
              <div class="flex items-center gap-x-4">
                <div class="avatar-group -space-x-6 rtl:space-x-reverse">
                  <% talk.speakers.to_a.from(speaker_preview_count).each do |speaker| %>
                    <div class="avatar placeholder border-none">
                      <%= content_tag :div, class: "w-12 rounded-full bg-primary text-neutral-content" do %>
                        <% if speaker.github.present? %>
                          <%= image_tag speaker.github_avatar_url(size: 48) %>
                        <% else %>
                          <span class="text-lg"><%= speaker.name.split(" ").map(&:first).join %></span>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>

                <div>
                  <div class="text-xs text-gray-500 line-clamp-1">
                    See all speakers
                  </div>

                  <div class="hidden xl:block font-bold text-base line-clamp-1">
                    <%= pluralize(talk.speakers.size - 1, "more speaker") %>
                  </div>

                  <div class="block xl:hidden font-bold text-base line-clamp-1">
                    See all <%= pluralize(talk.speakers.size, "speaker") %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="hidden 2xl:block">
          <%= render partial: "talks/event", locals: {event: talk.event, talk: talk} %>
        </div>
      </div>
    </div>

  <div class="flex flex-wrap gap-2">
    <% talk.approved_topics.each do |topic| %>
      <%= link_to topic_path(topic, back_to: request.fullpath, back_to_title: talk.title) do %>
        <div class="badge badge-secondary px-2 py-3">#<%= topic.name.parameterize %></div>
      <% end %>
    <% end %>
  </div>

    <div role="tablist" class="tabs tabs-lifted">
      <% if talk.summary.present? %>
        <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Summary" checked>
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
          <% if talk.summarized_using_ai? %>
            <div class="badge badge-secondary px-3 py-3 mb-4">
              <span class="tooltip tooltip-top flex" data-tip="This summary is auto-generated by an AI based on the transcript of the talk.">
                <%= heroicon :sparkles, size: :sm, variant: :solid, class: "mr-2" %> Summarized using AI
              </span>
            </div>
          <% end %>

          <h2><%= talk.title %></h2>
          by <%= talk.speakers.map(&:name).to_sentence %>

          <article class="mt-4 prose markdown"><%= markdown_to_html(talk.summary) %></article>
        </div>
      <% end %>

      <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Description" <%= "checked" if talk.summary.blank? %>>
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <article class="prose">
          <%= simple_format auto_link(talk.description, html: {target: "_blank", class: "link"}) %>

          <p class="flex">
            <span><%= talk.event_name %></span>
            <span><%#= talk.event_edition %></span>
          </p>
        </article>
      </div>

      <% if talk.transcript.present? %>
        <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Transcript">
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
          <%= render partial: "talks/transcript", locals: {talk: talk} %>
        </div>
      <% end %>

      <% if talk.slides_url %>
        <% uri = URI(talk.slides_url) %>

        <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Slides">
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
          <% cache [talk.slides_url] do %>
            <% if ["speakerdeck.com", "www.speakerdeck.com"].include?(uri.host) %>
              <% oembed_url = URI("https://speakerdeck.com/oembed.json?url=#{talk.slides_url}") %>
              <% oembed_json = begin
                   JSON.parse(Net::HTTP.get(oembed_url))
                 rescue
                   {}
                 end %>

              <%= sanitize oembed_json.dig("html"), tags: ["iframe"], attributes: ["id", "class", "src", "width", "height", "style", "frameborder", "allowtransparency", "allowfullscreen"] %>
            <% end %>
          <% end %>

          <a class="btn btn-primary mt-6" href="<%= talk.slides_url %>" target="_blank">See Slides on <%= uri.host %></a>
        </div>
      <% end %>

      <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="<%= "Speaker".pluralize(talk.speakers.count) %>">
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <% talk.speakers.each do |speaker| %>
            <div class="border rounded-lg hover:bg-gray-200 transition-bg duration-300 ease-in-out">
              <%= render partial: "talks/speaker", locals: {speaker: speaker} %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>

<%= link_to event_path(talk.event), id: "explore-event", class: "card bg-gray-100 border hover:bg-gray-200/50 transition-bg duration-300 ease-in-out w-full flex flex-row px-6 py-6 gap-8 mt-4 overflow-hidden", style: "background: #{talk.event.featured_background}; color: #{talk.event.featured_color}" do %>
  <div class="aspect-video hidden md:block">
    <%= image_tag image_path(talk.event.featured_image_path), id: dom_id(talk.event, "explore-card-image"), alt: "explore all talks recorded at #{talk.event.name}", class: "h-24 aspect-video rounded-xl" %>
  </div>

  <div class="flex flex-col w-full flex-1 self-start">
    <span class="text-lg font-semibold sm:text-md">Explore all talks recorded at <%= talk.event.name %></span>

    <div class="avatar-group -space-x-3 rtl:space-x-reverse mt-4">
      <% speakers_with_avatars = talk.event.speakers.where.not(github: "").sample(12) %>

      <% speakers_with_avatars.each do |speaker| %>
        <div class="avatar bg-white">
          <div class="w-8">
            <img src="<%= speaker.github_avatar_url %>" loading="lazy">
          </div>
        </div>
      <% end %>

      <% if talk.event.speakers.count > speakers_with_avatars.count %>
        <div class="avatar placeholder">
          <div class="bg-neutral text-neutral-content w-8">
            <span>+<%= talk.event.speakers.count - speakers_with_avatars.count %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
