<%# locals: (talk:, admin: false) -%>

<%= content_tag :div, id: dom_id(talk),
      data: {
        controller: "video-player",
        video_player_poster_value: talk.thumbnail_lg,
        video_player_provider_value: "youtube",
        video_player_src_value: talk.video_id
      } do %>

  <h1 class="text-neutral mb-4 text-2xl"><%= talk.title %></h1>

  <div <%= tag.attributes(
             class: "aspect-video banner-img card-horizontal-img relative",
             style: "view-transition-name: #{dom_id(talk, :image)}"
           ) %>>

    <%= content_tag :div, "",
          class: "image",
          id: dom_id(talk, :youtube),
          data: {video_player_target: "player",
                 youtube_id: talk.video_id} %>
  </div>

  <div class="py-4 flex flex-col gap-4 my-4">

  <div class="flex flex-wrap gap-2">
    <% talk.approved_topics.each do |topic| %>
      <%= link_to topic_path(topic, back_to: request.fullpath, back_to_title: talk.title) do %>
        <div class="badge badge-secondary px-2 py-3">#<%= topic.name.parameterize %></div>
      <% end %>
    <% end %>
  </div>

    <div role="tablist" class="tabs tabs-lifted">
      <% if talk.summary.present? %>
        <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Summary" checked>
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
          <div class="my-4">
            <h2><%= talk.title %></h2>
            by <%= talk.speakers.map(&:name).to_sentence %>
          </div>

          <div class="markdown"><%= markdown_to_html(talk.summary) %></div>
        </div>
      <% else %>
        <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Description" <%= "checked" if talk.summary.blank? %>>
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
          <p><%= simple_format auto_link(talk.description, html: {target: "_blank", class: "link"}) %></p>

          <p class="flex">
            <span><%= talk.event_name %></span>
            <span><%#= talk.event_edition %></span>
          </p>
        </div>
      <% end %>

      <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Transcript">
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <%= render partial: "talks/transcript", locals: {talk: talk} %>
      </div>
    </div>
  </div>
<% end %>

<div class="tooltip tooltip-right tooltip-success" data-tip="You can suggest some modifications to this talk">
  <%= ui_button url: edit_talk_path(talk), kind: :neutral, outline: true, size: :sm do %>
    <%= heroicon :pencil_square %>
    <span>Edit</span>
  <% end %>
</div>

<div class="py-4"></div>

<%= link_to event_path(talk.event), class: "card bg-gray-200 w-full xl:flex xl:flex-row xl:px-6 xl:py-6 xl:gap-4 overflow-hidden" do %>
  <div class="flex aspect-video xl:w-1/5 overflow-hidden">
    <%= image_tag talk.thumbnail_sm,
          srcset: ["#{talk.thumbnail_lg} 2x"],
          id: dom_id(talk),
          height: 174,
          width: 310,
          alt: "explore all talks recorded at #{talk.event.name}",
          style: "view-transition-name: #{dom_id(talk, :image)}",
          class: "w-full object-cover rounded-t-xl xl:rounded-b-xl" %>
  </div>

  <div class="flex flex-1 flex-col justify-between items-start gap-6 px-6 py-4 xl:px-0 xl:py-0 xl:flex-row-reverse xl:items-center">
    <div class="flex flex-1 -space-x-3 sm:items-center sm:justify-end">
      <% event_speakers = talk.event.speakers.limit(11) %>
      <% event_speakers.each do |speaker| %>
        <%= image_tag speaker.github_avatar_url, class: "h-8 w-8 rounded-full sm:w-10 sm:h-10" %>
      <% end %>
    </div>

    <div class="flex flex-col w-full flex-1 sm:self-start">
      <span class="text-lg font-semibold sm:text-md">Explore all talks recorded at <%= talk.event.name %></span>
    </div>
  </div>
<% end %>
