<%= content_tag :div, id: dom_id(talk) do %>

  <div <%= tag.attributes(
            class: "aspect-video banner-img card-horizontal-img relative",
            style: "view-transition-name: card-horizontal-img",
            data: {
              controller: "view-transition video-player",
              view_transition_name_value: "banner-img",
              view_transition_fade_value: "true",
              video_player_poster_value: talk.thumbnail_lg,
              video_player_provider_value: "youtube",
              video_player_src_value: talk.video_id
            }
          )%>>

    <%= content_tag :div, "",
            class: "image",
            id: dom_id(talk, :youtube),
            data: { video_player_target: "player",
                    youtube_id: talk.video_id
                  } %>
  </div>

  <div class="p-4 flex flex-col gap-4">
    <h1><%= talk.title %></h1>

    <p><%= talk.description %></p>

    <p class="flex">
      <span><%= talk.event_name %></span>
      <span><%#= talk.event_edition %></span>
    </p>

    <% related_talks = talk.neighbors(limit: 5) %>
    <% if related_talks.any? %>
      <h2>Other talks you might be interested in</h2>
      <ul class="list-inside list-disc">
        <% related_talks.each do |related_talk| %>
          <%= content_tag :li, link_to(related_talk.title.gsub(/\A:\s+/, ""), related_talk) %>
        <% end %>
      </ul>
    <% end %>

    <% if action_name != "show" %>
      <%= link_to "Show this talk", talk, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this talk', edit_talk_path(talk), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>
<% end %>
