<%# locals: (talk:) -%>

<% video_player_controller = talk.external_player ? nil : "video-player" %>

<% video_provider = case talk.video_provider
   when "mp4" then "mp4"
   when "parent" then talk.parent_talk.video_provider
   else talk.video_provider
   end %>

<% if talk.parent_talk&.video_provider == "children" %>
  <% video_provider = talk.video_provider %>
<% end %>

<% video_id = (talk.video_provider == "parent") ? talk.parent_talk.video_id : talk.video_id %>

<% language = Language.by_code(talk.language) %>
<%= content_tag :div, id: dom_id(talk),
      data: {
        controller: video_player_controller,
        video_player_poster_value: talk.thumbnail_xl,
        video_player_provider_value: video_provider,
        video_player_src_value: video_id,
        video_player_start_seconds_value: talk.start_seconds,
        video_player_end_seconds_value: talk.end_seconds
      } do %>

  <div class="aspect-video banner-img card-horizontal-img relative rounded-xl overflow-hidden outline outline-1 bg-gray-300 outline-gray-300" style="view-transition-name: <%= dom_id(talk, :image) %>">
    <% if talk.external_player %>
      <%= link_to talk.external_player_url, target: "_blank", class: "relative w-full h-full block" do %>
        <%= image_tag talk.thumbnail_xl, class: "w-full h-full object-cover rounded-xl" %>

        <div class="absolute inset-0 text-center text-white bg-black/80 flex flex-col gap-6 justify-center items-center font-bold text-xl rounded-xl p-6">
          This talk is available to watch on <%= URI.parse(talk.external_player_url).host %>

          <%= ui_button do %>
            <%= fa("play", size: :xs, class: "fill-white") %> <span>Watch <span class="hidden sm:inline-block"> on <%= URI.parse(talk.external_player_url).host %></span></span>
          <% end %>
        </div>
      <% end %>

    <% else %>
      <% if video_provider.in?(["mp4", "youtube", "vimeo", "scheduled", "not_published", "not_recorded", "children"]) %>
        <%= render partial: "talks/video_providers/#{video_provider}", locals: {talk: talk, video_provider: video_provider, video_id: video_id} %>
      <% else %>
        Provider <%= video_provider.inspect %> is not configured.
      <% end %>
    <% end %>
  </div>

  <div class="flex flex-col">
    <% if talk.meta_talk? %>
      <div class="badge badge-ghost hover:bg-gray-300 px-3 my-3 py-3 flex gap-1">
        <%= fa("rectangle-history", size: :xs, class: "fill-gray-700 mr-2") %>
        <span class="text-gray-700">This video contains <%= pluralize(talk.child_talks.size, "individual talk") %></span>
      </div>
      <hr>
    <% end %>

    <% if talk.parent_talk.present? %>
      <div class="py-3">
        <div class="text-gray-500 text-nowrap text-xs mb-2">Part of recording</div>
        <%= link_to talk.parent_talk, class: "badge badge-ghost hover:bg-gray-300 px-4 py-4 text-sm" do %>
          <%= fa("rectangle-history", size: :xs, class: "fill-black mr-2") %>
          <%= talk.parent_talk.title %>
        <% end %>
      </div>
      <hr>
    <% end %>

    <div class="flex flex-col md:gap-1 w-full divide-y">
      <div class="flex flex-wrap w-full divide-y justify-between">
        <div class="py-4 font-bold text-xl">
          <span><%= talk.title %></span>
        </div>

        <div class="flex grow gap-1 py-3 lg:divide-y-0 text-xs xl:justify-end overflow-y-visible overflow-x-scroll lg:overflow-x-hidden order-last xl:order-none">
          <% if Current.user&.admin? %>
            <%= ui_button url: avo.resources_talk_path(talk), kind: :pill, target: "_blank" do %>
              <%= fa :avocado, size: :xs, style: :solid %>

              <span class="text-xs">Open in Avo</span>
            <% end %>
          <% end %>

          <% if talk.youtube? || talk.parent_talk&.youtube? %>
            <%= ui_tooltip "Watch on YouTube" do %>
              <%= ui_button url: talk.external_player_url, kind: :pill, target: "_blank", data: {action: "click->video-player#pause"} do %>
                <%= fa("youtube-brands", size: :xs, style: :solid) %>
                <span class="text-xs">Play on YouTube</span>
              <% end %>
            <% end %>
          <% end %>

          <% if talk.vimeo? || talk.parent_talk&.vimeo? %>
            <%= ui_tooltip "Watch on Vimeo" do %>
              <%= ui_button url: "https://vimeo.com/video/#{talk.video_id}", kind: :pill, target: "_blank" do %>
                <%= fa("vimeo-v-brands", size: :xs, style: :solid) %>
                <span class="text-xs">Play on Vimeo</span>
              <% end %>
            <% end %>
          <% end %>

          <% if talk.static_metadata&.external_player_url.present? || talk.parent_talk&.static_metadata&.external_player_url.present? %>
            <% player_url = talk.parent_talk&.static_metadata&.external_player_url || talk.static_metadata.external_player_url %>

            <%= ui_tooltip "Watch on Website" do %>
              <%= ui_button url: player_url, kind: :pill, target: "_blank", data: {action: "click->video-player#pause"} do %>
                <%= fa("website-brands", size: :xs, style: :solid) %>
                <span class="text-xs">Play on Website</span>
              <% end %>
            <% end %>
          <% end %>

          <% if signed_in? && !talk.scheduled? %>
            <%= turbo_frame_tag dom_id(talk, :watched_talk) do %>
              <% if talk.watched? %>
                <div class="tooltip tooltip-top" data-tip="Mark talk as unwatched">
                  <%= ui_button url: talk_watched_talk_path(talk), method: :delete, kind: :pill do %>
                    <%= fa("circle-check", size: :xs, style: :solid, class: "fill-green-700") %>
                    <span class="text-xs text-nowrap">Watched</span>
                  <% end %>
                </div>
              <% else %>
                <div class="tooltip tooltip-top" data-tip="Mark talk as watched">
                  <%= ui_button url: talk_watched_talk_path(talk), method: :post, kind: :pill do %>
                    <%= fa("circle", size: :xs, style: :regular) %>
                    <span class="text-xs text-nowrap">Watched</span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <div class="tooltip tooltip-top hotwire-native:hidden" data-tip="You can suggest some modifications to this talk">
            <%= ui_button url: edit_talk_path(talk), kind: :pill, data: {turbo_frame: "modal"} do %>
              <%= fa("pen", size: :xs, style: :solid) %>
              <span class="text-xs">Edit</span>
            <% end %>
          </div>
        </div>

        <div class="flex justify-between w-full py-2">
          <div class="flex flex-wrap">
            <% speaker_size = 2 %>
            <% more_speakers = talk.speakers.size > speaker_size %>
            <% speaker_preview_count = more_speakers ? 1 : 2 %>

            <% talk.speakers.take(speaker_preview_count).each do |speaker| %>
              <%= content_tag :div, class: class_names("hidden xl:block" => more_speakers) do %>
                <%= render partial: "talks/speaker", locals: {speaker: speaker} %>
              <% end %>
            <% end %>

            <% if more_speakers %>
              <div class="flex flex-col gap-4 hover:bg-gray-200 transition-bg duration-300 ease-in-out md:p-2 px-4 rounded-lg cursor-pointer" class="tooltip tooltip-top tooltip-success" onclick="document.querySelector('[name=talk_tabs][aria-label=Speakers]').checked = true" data-tip="<%= talk.speakers.to_a.from(2).map(&:name).to_sentence %>">
                <div class="flex items-center <% if !talk.meta_talk? %> gap-x-4 <% end %>">
                  <div class="avatar-group -space-x-6 rtl:space-x-reverse">
                    <% talk.speakers.to_a.from(speaker_preview_count).each do |speaker| %>
                      <div class="avatar placeholder border-none <% if talk.meta_talk? %>hidden <% end %>">
                        <%= content_tag :div, class: "w-12 rounded-full bg-primary text-neutral-content" do %>
                          <% if speaker.custom_avatar? %>
                            <%= image_tag speaker.avatar_url(size: 48) %>
                          <% else %>
                            <span class="text-lg"><%= speaker.name.split(" ").map(&:first).join %></span>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="flex gap-4">
                    <% if talk.meta_talk? %>
                      <div class="avatar placeholder border-none">
                        <%= content_tag :div, class: "w-12 rounded-full bg-primary text-neutral-content" do %>
                          <span class="hidden xl:block text-lg">
                            +<%= talk.speakers.size - 1 %>
                          </span>

                          <span class="block xl:hidden text-lg">
                            +<%= talk.speakers.size %>
                          </span>
                        <% end %>
                      </div>
                    <% end %>

                    <div class="flex flex-col justify-center">
                      <div class="text-xs text-gray-500 line-clamp-1">
                        See all speakers
                      </div>

                      <div class="hidden xl:block font-bold text-base line-clamp-1">
                        <%= pluralize(talk.speakers.size - 1, "more speaker") %>
                      </div>

                      <div class="block xl:hidden font-bold text-base line-clamp-1">
                        See all <%= pluralize(talk.speakers.size, "speaker") %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div class="hidden 2xl:block">
            <%= render partial: "talks/event", locals: {event: talk.event, talk: talk, video_provider: talk.video_provider} %>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <% if (talk.parent_talk.present? || talk.meta_talk?) && talk.video_provider != "children" %>
      <% parent_talk = talk.parent_talk || talk %>

      <h3 class="font-bold text-md my-3">Sections in this recording</h3>

      <%= render partial: "sections", locals: {talk: parent_talk} %>

      <br><hr>
    <% end %>

    <% if talk.approved_topics.any? %>
      <div class="py-4">
        <%= render partial: "topics/badge_list", locals: {topics: talk.approved_topics, back_to_url: back_to_from_request, back_to_title: talk.title} %>
      </div>
      <hr>
    <% end %>

    <div role="tablist" class="tabs tabs-bordered mt-6">
      <% if talk.summary.present? %>
        <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Summary" checked>
        <div role="tabpanel" class="tab-content !rounded-s-xl rounded-xl bg-base-200/50 p-6 mt-6 overflow-hidden">
          <% if talk.summarized_using_ai? %>
            <div class="badge text-white bg-[linear-gradient(to_right,rgb(132,71,198),rgb(171,93,139))] px-3 py-3 mb-4">
              <span class="tooltip tooltip-right flex" data-tip="This summary is auto-generated by an AI based on the transcript of the talk.">
                <%= heroicon :sparkles, size: :xs, variant: :solid, class: "mr-2" %> Summarized using AI
              </span>
            </div>
          <% end %>

          <h2><%= talk.title %></h2>
          <%= talk.speakers.map(&:name).to_sentence %> • <%= talk.formatted_date %> <% if talk.event.location %> • <%= talk.event.location %><% end %> <% if language && language != "English" %> • <%= language %> <% end %> • <%= talk.formatted_kind %>

          <article class="mt-4 prose markdown"><%= markdown_to_html(talk.summary) %></article>
        </div>
      <% end %>

      <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Description" <%= "checked" if talk.summary.blank? %>>
      <div role="tabpanel" class="tab-content !rounded-s-xl rounded-xl bg-base-200/50 p-6 mt-6 overflow-hidden">
        <article class="prose">
          <p>
            <b><%= talk.title %></b><br>
            <%= talk.speakers.map(&:name).to_sentence %>
            <% if talk.event.location %> • <%= talk.event.location %><% end %>
            <% if language && language != "English" %> • <%= language %> <% end %> •
            <%= talk.formatted_kind %>
          </p>

          <p>
            Date: <% if talk.date %> <%= talk.formatted_date %> <% else %> unknown<% end %><br>

            <span class="text-gray-400">
              Published: <% if talk.published_at %><%= talk.published_at.strftime("%B %d, %Y") %><% elsif talk.published? %> unknown <% else %> not published <% end %><br>
              Announced: <% if talk.announced_at %><%= talk.announced_at.strftime("%B %d, %Y") %><% else %> unknown<% end %>
            </span>
          </p>

          <%= simple_format auto_link(talk.description, html: {target: "_blank", class: "link"}) %>

          <p class="flex">
            <span><%= talk.event_name %></span>
            <span><%#= talk.event_edition %></span>
          </p>
        </article>
      </div>

      <% if talk.transcript.present? %>
        <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Transcript">
        <div role="tabpanel" class="tab-content !rounded-s-xl rounded-xl bg-base-200/50 p-6 mt-6 overflow-hidden">
          <%= render partial: "talks/transcript", locals: {talk: talk} %>
        </div>
      <% end %>

      <% if talk.slides_url.present? %>
        <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="Slides">
        <div role="tabpanel" class="tab-content !rounded-s-xl rounded-xl bg-base-200/50 p-6 mt-6 overflow-hidden">
          <%= turbo_frame_tag dom_id(talk, :slides), src: talk_slides_path(talk), loading: :lazy do %>
            <div class="skeleton h-32 w-full rounded"></div>
          <% end %>
        </div>
      <% end %>

      <% if talk.speakers.length.positive? %>
        <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="<%= "Speaker".pluralize(talk.speakers.size) %>">
        <div role="tabpanel" class="tab-content !rounded-s-xl rounded-xl bg-base-200/50 p-6 mt-6 overflow-hidden">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <% talk.speakers.each do |speaker| %>
              <div class="border bg-gray-100 rounded-lg hover:bg-gray-200/50 transition-bg duration-300 ease-in-out">
                <%= render partial: "talks/speaker", locals: {speaker: speaker} %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
