<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<div class="container flex flex-col w-full gap-4 my-8 hotwire-native:my-0 hotwire-native:mb-8">
  <div class="flex items-end gap-2 title text-primary hotwire-native:mb-3">
    <h1 class="title hotwire-native:hidden" style="view-transition-name: title">
      <%= title "Talks" %>

      <% if params[:s].present? %>
        : search results for "<%= params[:s] %>"
      <% end %>
    </h1>
  </div>
  <%= turbo_frame_tag "talks", target: "_top" do %>
    <div id="talks" class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gallery">
      <%= render partial: "talks/card",
            collection: @talks,
            as: :talk,
            locals: {
              favoritable: true,
              user_favorite_talks_ids: @user_favorite_talks_ids,
              watched_talks_ids: user_watched_talks_ids,
              back_to: back_to_from_request
            } %>
    </div>
    <div class="flex mt-4 w-full">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  <% end %>
</div>
