<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<div class="container flex flex-col w-full gap-4 my-8">
  <div class="flex items-end gap-2 title text-primary">
    <h1 style="view-transition-name: title">
      Talks
      <% if params[:s].present? %>
        : search results for "<%= params[:s] %>"
      <% end %>
    </h1>
  </div>
  <%= turbo_frame_tag "grid-talks", target: "_top" do %>
    <div id="talks" class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gallery">
      <%= render partial: "talks/card",
            collection: @talks,
            as: :talk,
            locals: {
              favoritable: true,
              user_favorite_talks_ids: @user_favorite_talks_ids,
              back_to: params[:back_to] || request.fullpath,
              back_to_title: params[:back_to_title]
            } %>
    </div>

    <% if @pagy.next.present? %>
      <% allowed_params = params.permit(:s, :topic, :event, :speaker, :kind, :order_by) %>
      <%= turbo_frame_tag :pagination,
            data: {
              controller: "lazy-loading",
              lazy_loading_src_value: talks_path(allowed_params.merge(page: @pagy.next, format: :turbo_stream))
            } %>
    <% end %>
  <% end %>

</div>
