<div class="container my-8 w-full flex flex-col gap-4">
  <div class="flex">
    <% @talk.topics.each do |topic| %>
      <%= link_to topic do %>
        <div class="bg-gray-200 p-2 rounded">#<%= topic.name.parameterize %></div>
      <% end %>
    <% end %>
  </div>

  <%= link_to @back_path do %>
    <div class="flex items-center gap-2 title text-brand">
      <%= heroicon :arrow_long_left %>
      <span>List</span>
    </div>
  <% end %>
  <div class="w-full flex">
    <div class="flex-grow">
      <%= render @talk %>
    </div>
    <div class="gap-4 w-60 flex-shrink-0 hidden md:flex md:flex-col px-4">
      <%= turbo_frame_tag "recommended_talks", target: "_top", src: talk_recommendations_path(@talk) %>
    </div>
  </div>
</div>
