<div class="container my-8 w-full flex flex-col gap-4">
  <% back_path = params[:back_to].presence || talks_path %>
  <% back_to_title = params[:back_to_title].presence || "Talks" %>

  <div class="w-full flex">
    <div class="flex-grow">
      <%= link_to back_path do %>
        <div class="flex items-center gap-2 title text-base text-primary mb-4">
          <%= heroicon :arrow_long_left, class: "transition-arrow" %>
          <div style="view-transition-name: title"><%= back_to_title %></div>
        </div>
      <% end %>

      <% cache [@talk, @related_talks] do %>
        <%= render partial: "talks/talk", locals: {talk: @talk} %>
      <% end %>
    </div>

    <div class="gap-4 w-96 flex-shrink-0 hidden lg:flex lg:flex-col px-4">
      <%= link_to @talk.event.name, event_path(@talk.event), class: "text-neutral text-base text-lg font-bold hover:underline" %>

      <div class="relative">
        <div class="flex flex-col gap-2 lg:max-h-[340px] xl:max-h-[485px] 2xl:max-h-[630px] overflow-y-scroll pb-20">
          <%= render partial: "talks/card_horizontal",
                collection: @related_talks,
                as: :talk,
                locals: {compact: true, current_talk: @talk} %>
        </div>
        <div class="absolute bottom-0 left-0 w-full h-36 bg-gradient-to-t from-base-100 to-transparent pointer-events-none"></div>
      </div>
    </div>
  </div>
</div>
