
<%= turbo_stream.update "talks_search_results", method: "morph" do %>
  <div class="flex items-center flex-wrap gap-2 py-4">
    <h2>Talks</h2>
    <% if @talks.size.positive? %>
      <span class="text-sm text-gray-500">(<%= @talks.size %> of <%= @talks_count %>)</span>
      <%= link_to talks_path(s: search_query), class: "link text-sm text-gray-500", target: "_top" do %>
        see results
      <% end %>
    <% end %>
  </div>

  <div class="flex flex-col gap-2">
    <% cache @talks do %>
      <%= render partial: "spotlight/talks/talk", collection: @talks, as: :talk %>
    <% end %>

    <div class="hidden only:block">No talks found for <strong><%= search_query %></strong></div>
  </div>
<% end %>
