<%= ui_button url: edit_speaker_path(@speaker), kind: :neutral, size: :sm, data: {turbo_frame: "modal"} do %>
  <%= fa "pen", size: :xs %>
  <span>Update speaker page</span>
<% end %>

<% if speaker.github.present? || speaker.bsky.present? %>
  <%= ui_button url: speakers_enhance_path(@speaker), method: :put, kind: :neutral, size: :sm do %>
    <%= fa "wand-magic-sparkles", size: :xs %>
    <span>Enhance Profile</span>
  <% end %>
<% end %>

<%= ui_button url: avo.resources_speaker_path(@speaker), target: :_blank, kind: :neutral, size: :sm do %>
  <%= fa :avocado, size: :xs %>

  <span>Open in Avo</span>
<% end %>

<% if Rails.env.development? %>
  <%= ui_button url: speaker_url(@speaker, host: "https://rubyevents.org", port: 443), target: :_blank, kind: :neutral, size: :sm do %>
    <%= fa :browser, size: :xs %>
    <span>Show on RubyEvents.org</span>
  <% end %>
<% end %>
