<%= ui_button url: edit_speaker_path(@speaker),
      kind: :none,
      data: {turbo_frame: "modal"},
      size: :sm,
      class: "w-full" do %>
  <%= heroicon :pencil_square %>
  <span>Update speaker page</span>
<% end %>

<% if speaker.github.present? %>
  <%= ui_button url: speakers_enhance_path(@speaker), method: :put, kind: :none, size: :sm, class: "w-full", form_class: "w-full" do %>
    <span>Fetch from GitHub</span>
  <% end %>
<% end %>

<%= ui_button url: avo.resources_speaker_path(@speaker), target: :_blank, kind: :none, size: :sm, class: "w-full" do %>
  <span>Open in Avo</span>
<% end %>

<% if Rails.env.development? %>
  <%= ui_button url: speaker_url(@speaker, host: "https://rubyvideo.dev", port: 443), target: :_blank, kind: :none, size: :sm, class: "w-full" do %>
    <span>Show on RubyVideo.dev</span>
  <% end %>
<% end %>
