<% if speaker.github.blank? %>
  <%= link_to edit_speaker_path(speaker), class: "link link-accent link-ghost", data: {turbo_frame: "modal"} do %>
    Help us improve the speaker profile by adding a GitHub handle
  <% end %>
<% else %>
  <% if !speaker.verified? %>
    <div class="flex flex-col gap-4 hotwire-native:hidden">
      <div class="content text-sm">
        <span>Are you <strong><%= speaker.name %></strong>?
        <%= link_to sign_in_path, class: "link link-neutral font-light", data: {turbo_frame: "modal"} do %>
          Claim your profile to manage and edit content.</span>
        <% end %>
      </div>

      <%= ui_button url: edit_speaker_path(speaker), kind: :neutral, size: :sm, data: {turbo_frame: "modal"} do %>
        <%= fa :pen, size: :xs %>
        <span>Suggest improvements</span>
      <% end %>
    </div>
  <% end %>
<% end %>
