<% if speaker.github.blank? %>
  <%= link_to edit_speaker_path(speaker), class: "link link-accent link-ghost", data: {turbo_frame: "modal"} do %>
    Help us improve the speaker profile by adding a Github handle
  <% end %>
<% else %>
  <% if !speaker.verified? %>
    <%= ui_button url: edit_speaker_path(speaker), kind: :secondary, outline: true, size: :sm, data: {turbo_frame: "modal"} do %>
      <%= heroicon :pencil_square %>
      <span>Suggest improvements</span>
    <% end %>

    <%= link_to sign_in_path, class: "text-sm link link-neutral link-ghost", data: {turbo_frame: "modal"} do %>
      <span>Are you <strong><%= speaker.name %></strong>? Claim your profile to manage and edit content.</span>
    <% end %>
  <% end %>
<% end %>
