<div class="navbar bg-primary text-white relative z-50">
  <div class="container flex justify-between items-center">
    <div class="">
      <%= link_to "Ruby Video", root_path, class: "text-left text-3xl font-serif" %>
    </div>
    <div class="items-center gap-6 hidden md:flex">
      <ul class="desktop-menu">
        <%= render "shared/navbar/link", link_title: "Talks", path: talks_path %>
        <%= render "shared/navbar/link", link_title: "Speakers", path: speakers_path %>
        <%= render "shared/navbar/link", link_title: "Events", path: events_path %>
        <% if Current.user&.admin? %>
          <%= render "shared/navbar/link", link_title: "Events", path: events_path %>
          <%= render "shared/navbar/link", link_title: "Watch List", path: watch_lists_path %>
          <%= render "shared/navbar/link", link_title: "Suggestions", path: admin_suggestions_path %>
        <% end %>
        <li>
          <%= link_to "https://github.com/adrienpoly/rubyvideo", target: "_blank", alt: "github repository for the Ruby video project" do %>
            <%= icon "github", size: :lg %>
          <% end %>
        </li>
      </ul>
      <%= render "shared/user_dropdown" %>
    </div>
    <div class="mobile-menu">
      <%= render "shared/user_mobile_dropdown" %>
    </div>
  </div>
</div>
