<nav class="navbar relative md:flex">
  <div class="flex justify-between w-full">
  <ul>
    <li>
      <%= link_to root_path, class: "text-white flex gap-4 items-center" do %>
        <title>Ruby Video</title>
      <% end %>
    </li>
  </ul>
   <!-- Mobile menu button -->
   <menu id="hamburger" class="md:hidden flex items-center px-3 py-2">
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg id="menu-open-icon" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg id="menu-close-icon" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </menu>
    <ul class="hidden md:flex" id="main-menu">
      <%= render "shared/navbar/link", link_title: "Talks", path: talks_path %>
      <%= render "shared/navbar/link", link_title: "Speakers", path: speakers_path %>
      <% if Current.user&.admin? %>
        <%= render "shared/navbar/link", link_title: "Events", path: events_path %>
        <%= render "shared/navbar/link", link_title: "Suggestions", path: admin_suggestions_path %>
      <% end %>
      <li>
        <%= link_to "https://github.com/adrienpoly/rubyvideo", target: "_blank", alt: "github repository for the Ruby video project" do %>
          <%= icon "github", size: :lg %>
        <% end %>
      </li>
      <li><a href="https://github.com/adrienpoly/rubyvideo/blob/main/docs/contributing.md" role="button" target="_blank">Contribute</a></li>
    </ul>
    <ul class="hidden md:hidden absolute top-full left-0 z-20 bg-brand bg-opacity-50  p-4 rounded shadow-md md:hidden w-full" id="mobile-menu">
      <%= render "shared/navbar/link", link_title: "Talks", path: talks_path %> <br>
      <%= render "shared/navbar/link", link_title: "Speakers", path: speakers_path %> <br>
      <% if Current.user&.admin? %>
        <%= render "shared/navbar/link", link_title: "Events", path: events_path %>
        <%= render "shared/navbar/link", link_title: "Suggestions", path: admin_suggestions_path %>
      <% end %>
      <li class="block">
        <%= link_to "https://github.com/adrienpoly/rubyvideo", target: "_blank", alt: "github repository for the Ruby video project" do %>
          <%= icon "github", size: :lg %>
        <% end %>
        <br>
      </li>
      <li class="block"><a href="https://github.com/adrienpoly/rubyvideo/blob/main/docs/contributing.md" role="button" target="_blank">Contribute</a></li>
    </ul>
  </div>
</nav>
