<% main_resource = request.path.split("/").last.presence_in(%w[talks speakers events]) || "talks" %>

<%= ui_modal position: :top, close_button: false, data: {action: "keydown.meta+k@window->modal#open spotlight@window->modal#open"}, class: "spotlight"  do %>
  <div data-controller="spotlight-search"
       data-spotlight-search-url-spotlight-talks-value="<%= spotlight_talks_path %>"
       data-spotlight-search-url-spotlight-speakers-value="<%= spotlight_speakers_path %>"
       data-spotlight-search-url-spotlight-events-value="<%= spotlight_events_path %>"
       data-spotlight-search-main-resource-value="<%= main_resource %>">
      <div class="flex items-center gap-2 rounded-lg bg-white px-2">
        <%= heroicon("magnifying-glass", size: :md) %>
        <%= tag.input type: "search",
              name: "query",
              autofocus: true,
              autocomplete: "off",
              class: "w-full p-2 outline-none",
              data: {action: "spotlight-search#search keydown.enter->spotlight-search#searchMainResource", spotlight_search_target: "searchInput"} %>
      </div>

    <div role="listbox" data-spotlight-search-target="searchResults" aria-live="polite">
      <div class="grid md:grid-cols-3 gap-4">
        <div id="talks_search_results" data-spotlight-search-target="talksSearchResults"></div>
        <div id="speakers_search_results" data-spotlight-search-target="speakersSearchResults"></div>
        <div id="events_search_results" data-spotlight-search-target="eventsSearchResults"></div>
      </div>
    </div>
  </div>
<% end %>
