<% main_resource = request.path.split("/").last.presence_in(%w[talks speakers events]) || "talks" %>
<% resources = %w[talks speakers events] %>

<%= ui_modal position: :top, close_button: false, data: {action: "keydown.meta+k@window->modal#open spotlight@window->modal#open"}, class: "spotlight"  do %>
  <div data-controller="spotlight-search"
       data-spotlight-search-url-spotlight-talks-value="<%= spotlight_talks_path %>"
       data-spotlight-search-url-spotlight-speakers-value="<%= spotlight_speakers_path %>"
       data-spotlight-search-url-spotlight-events-value="<%= spotlight_events_path %>"
       data-spotlight-search-main-resource-value="<%= main_resource %>">
      <div class="flex items-center gap-2 rounded-lg bg-white px-2">
        <%= heroicon("magnifying-glass", size: :md) %>
        <%= tag.input type: "search",
              name: "query",
              autofocus: true,
              autocomplete: "off",
              class: "w-full p-2 outline-none",
              data: {action: "spotlight-search#search keydown.enter->spotlight-search#navigate:stop", spotlight_search_target: "searchInput"} %>
      </div>

    <div role="listbox" data-spotlight-search-target="searchResults" aria-live="polite">
      <div class="flex items-center gap-2 my-2 hidden" data-spotlight-search-target="allSearchResults">
        <%= heroicon("magnifying-glass", size: :md) %>
        <div role="option">search <%= main_resource %> for <strong class="text-base-content" data-spotlight-search-target="searchQuery"></strong></div>
        <kbd class="kbd kbd-sm text-base-content">⏎</kbd>
      </div>

      <div class="grid md:grid-cols-3 gap-4">
        <% resources.unshift(main_resource) %>
        <% resources.uniq.each do |resource| %>
          <div id="<%= resource %>_search_results" data-spotlight-search-target="<%= resource %>SearchResults"></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
