<%= link_to event_path(event), class: "flex w-full" do %>
  <div class="card card-compact bg-white border w-full">
    <%= image_tag image_path(event.card_image_path), class: "w-full object-cover rounded-t-xl border-b", alt: event.name, width: 300, height: 175 %>
    <div class="card-body flex flex-col items-center justify-center">
        <div class="text-xl font-semibold text-center line-clamp-1"><%= event.name %></div>
        <div class="text-gray-500">
          <% if event.location && event.location != "Earth" %>
            <%= event.location %> •
          <% end %>

        <%= event.formatted_dates %>
      </div>

      <div class="text-gray-600">
        <%= pluralize(event.talks_count, "talk") %>
      </div>
    </div>
  </div>
<% end %>
