<div
  class="w-full lg:h-92 p-4 lg:p-16 border rounded-[25px] lg:rounded-[50px] text-center lg:text-left"
  style="
    color: <%= event.featured_color %>;
    <% if event.featured_background.start_with?("data:") %>
      background: url('<%= event.featured_background %>');
      background-repeat: no-repeat;
      background-size: cover;
    <% else %>
      background: <%= event.featured_background %>;
    <% end %>
  ">
  <a href="<%= event_path(event) %>">
    <div class="lg:grid grid-cols-[1fr_2fr]">
      <div>
        <div class="flex justify-center mb-9">
          <%= image_tag event.featured_image_path, class: "w-1/2 max-h-none lg:w-full", loading: "lazy", width: 615, height: 350, alt: event.name %>
        </div>

        <div class="flex flex-col gap-3 lg:h-48 lg:max-h-48 overflow-hidden items-center lg:items-start">
          <h1 class="text-inherit font-bold text-xl line-clamp-1 lg:line-clamp-2"><%= event.name %></h1>
          <h2 class="text-inherit opacity-60 text-sm line-clamp-1"><%= event.location %> • <%= event.formatted_dates %></h2>
          <h2 class="text-inherit font-medium text-sm line-clamp-3 hidden lg:block">
            <%= event.description %>

            <%= event.static_metadata.home_updated_text %>
          </h2>
        </div>

        <%= ui_button kind: :rounded, class: "btn-sm lg:btn-md my-4" do %>
          <span>Explore Talks</span>
        <% end %>
      </div>

      <div class="hidden lg:flex flex-col justify-center items-center">
        <div>
          <div class="avatar-group -space-x-6 rtl:space-x-reverse">
            <% shown_speakers = [] %>

            <% all_speakers = event.speakers.to_a %>
            <% speakers_with_avatars = all_speakers.select { |speaker| speaker.avatar_url.present? }.sort_by(&:avatar_rank) %>

            <% event.keynote_speakers.each do |keynote_speaker| %>
              <% shown_speakers << keynote_speaker %>

              <div class="avatar bg-white">
                <div class="w-12 lg:w-28 xl:w-40">
                  <img src="<%= keynote_speaker.avatar_url %>" onerror="this.parentElement.parentElement.remove()" loading="lazy">
                </div>
              </div>
            <% end %>

            <% if event.keynote_speakers.none? %>
              <% speakers_with_avatars.first(4).each do |speaker| %>
                <% shown_speakers << speaker %>

                <div class="avatar bg-white">
                  <div class="w-12 lg:w-28 xl:w-40">
                    <img src="<%= speaker.avatar_url %>" loading="lazy">
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="mt-12">
          <div class="avatar-group -space-x-6 lg:-space-x-3 rtl:space-x-reverse">
            <% remaining_speakers = speakers_with_avatars - shown_speakers %>

            <% if remaining_speakers.any? %>
              <% remaining_speakers.first(10).each do |speaker| %>
                <% shown_speakers << speaker %>

                <div class="avatar bg-white">
                  <div class="w-8 xl:w-12">
                    <img src="<%= speaker.avatar_url %>" loading="lazy">
                  </div>
                </div>
              <% end %>
            <% end %>

            <% more_speakers_count = all_speakers.count - shown_speakers.count %>

            <% if more_speakers_count.positive? %>
              <div class="avatar placeholder">
                <div class="bg-neutral text-neutral-content w-8 xl:w-12">
                  <span>+<%= more_speakers_count %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </a>
</div>
