<div class="container py-8 hotwire-native:mb-6">
  <h1 class="title hotwire-native:hidden">
    <%= title "Events" %>
    <% if params[:s].present? %>
      : search results for "<%= params[:s] %>"
    <% end %>

    <span class="text-base text-gray-500">
      (<%= pluralize(@events.includes(:organisation).where(organisation: {kind: "conference"}).count, "conference") %>,
      <%= pluralize(@events.includes(:organisation).where(organisation: {kind: "meetup"}).count, "meetup") %>)
    </span>
  </h1>

  <div class="flex flex-wrap w-full justify-between py-8 hotwire-native:hidden gap-1">
    <% ("a".."z").each do |letter| %>
      <%= link_to events_path(letter: letter), id: letter, class: class_names("flex items-center justify-center w-10 text-gray-500 rounded hover:bg-brand-lighter border", "bg-brand-lighter": letter == params[:letter]) do %>
        <%= letter.upcase %>
      <% end %>
    <% end %>
    <%= link_to events_path, class: class_names("flex items-center justify-center w-10 text-gray-500 rounded hover:bg-brand-lighter border", "bg-brand-lighter": params[:letter].blank?) do %>
        all
      <% end %>
  </div>

  <% if @events.any? %>
    <% @events.group_by(&:organisation).each do |organisation, events| %>
      <h2><%= link_to organisation.name, organisation %></h2>
      <div id="<%= dom_id(organisation, "events") %>" class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-8 lg:gap-x-12 gap-y-2 min-w-full pt-4 pb-8">
        <%= render events %>
      </div>
    <% end %>
  <% else %>
    <p>No events found</p>
  <% end %>
</div>
