<%= render partial: "header", locals: {event: @event} %>

<%= turbo_frame_tag dom_id(@event), data: {turbo_action: "advance", turbo_frame: "_top"} do %>
  <div class="container py-8">
    <%= render partial: "navigation", locals: {event: @event} %>

    <div class="flex items-start flex-wrap gap-8 sm:flex-nowrap w-full">
      <div class="w-full">
        <div id="talks" class="min-w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 h-full">
          <%= render partial: "talks/card",
                collection: @talks,
                locals: {
                  favoritable: true,
                  user_favorite_talks_ids: @user_favorite_talks_ids,
                  watched_talks_ids: user_watched_talks_ids,
                  back_to: back_to_from_request,
                  back_to_title: @event.name
                },
                as: :talk %>
        </div>

        <% if @talks.empty? %>
          <div class="flex justify-center border rounded" style="padding-top: 3rem; padding-bottom: 3rem; padding-right: 1rem; padding-left: 1rem">
            <div class="text-center text-gray-600">
              <p>
                <b>No talks found for this event.</b>
              </p>
              <p class="mt-2">
                Please
                <a href="https://github.com/adrienpoly/rubyvideo/issues/new?title=<%= CGI.escape("#{@event.name} Recordings") %>&body=<%= CGI.escape("<!-- Your Content Here -->\n\nIssue opened from event page: #{event_url(@event)}") %>" class="text-primary" target="_blank">open an issue on GitHub</a>
                if you know how to get access to the recordings of this event. Thank you!
              </p>
            </div>
          </div>
        <% end %>

        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
<% end %>
