<main class="container">
  <% playlists = Static::Playlist.where.not(featured_background: nil) %>
  <% events = Event.where(slug: playlists.map(&:slug)) %>

  <% events.each do |event| %>
    <%= render partial: "events/featured", locals: { event: event } %>
  <% end %>

  <div class="w-full flex flex-col items-center pt-20 pb-12 text-center">
    <h1 class="text-5xl font-bold tracking-tight text-slate-700">On a mission to index all Ruby conferences</h1>
    <p class="mt-6 text-xl leading-8 text-slate-600 sm:max-w-md lg:max-w-none"> So far we have indexed <span class="font-semibold"><%= @talks_count %></span> of those from <span class="font-semibold"><%= @speakers_count %></span> speakers</p>
    <div class="mt-10 flex items-center gap-x-6 flex-wrap gap-y-4">
      <%= ui_button(url: talks_path, outline: true) do %>
        Explore talks <span aria-hidden="true"><%= heroicon :arrow_long_right %></span>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col gap-12">
    <section class="flex flex-col w-full gap-4">
      <div class="flex items-center justify-between w-full">
        <h2 class="text-primary shrink-0">Latest talks</h2>
        <%= link_to "see all talks", talks_path, class: "link text-right w-full" %>
      </div>
      <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
        <%= render partial: "talks/card", collection: @latest_talks, as: :talk, cached: true %>
      </div>
    </section>

    <section class="flex flex-col w-full gap-4">
      <div class="flex items-center justify-between w-full">
        <h2 class="text-primary shrink-0">Active speakers</h2>
        <%= link_to "see all speakers", speakers_path, class: "link text-right w-full" %>
      </div>
      <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
        <%= render partial: "speakers/card", collection: @active_speakers, as: :speaker %>
      </div>
    </section>

    <section class="flex flex-col w-full gap-4">
      <div class="flex items-center justify-between w-full">
        <h2 class="text-primary shrink-0">Latest events</h2>
        <%= link_to "see all events", events_path, class: "link text-right w-full" %>
      </div>
      <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
        <%= render partial: "events/card", collection: @latest_events, as: :event %>
      </div>
    </section>
  </div>

</main>
