<% title "RubyEvents.org - On a mission to index all Ruby events" %>

<main class="container hotwire-native:mt-6">
  <div class="hotwire-native:hidden w-full flex flex-col items-center pt-16 pb-12 text-center">
    <h1 class="text-5xl font-bold tracking-tight text-slate-700">On a mission to index all Ruby events</h1>
    <p class="mt-6 text-xl leading-8 text-slate-600 sm:max-w-md lg:max-w-none"> So far we have indexed <span class="font-semibold"><%= @talks_count %></span> talks of those from <span class="font-semibold"><%= @speakers_count %></span> speakers</p>
  </div>

  <% cache @featured_events do %>
    <section class="splide" aria-label="Featured Events" data-controller="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <% @featured_events.each_with_index do |event, index| %>
            <li class="splide__slide">
              <div class="<%= "hidden" unless index == 0 %>">
                <%= render partial: "events/featured", locals: {event: event} %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
  <% end %>

  <div class="flex flex-col gap-12 mt-12">
    <section class="flex flex-col w-full gap-4">
      <div class="flex items-center justify-between w-full">
        <h2 class="text-primary shrink-0">Latest talks</h2>
        <%= link_to "see all talks", talks_path, class: "link text-right w-full" %>
      </div>
      <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
        <%= render partial: "talks/card", collection: @latest_talks.first(4), as: :talk, cached: true, locals: {back_to: root_path, back_to_title: "Home"} %>
      </div>
    </section>

    <section class="flex flex-col w-full gap-4">
      <div class="flex items-center justify-between w-full">
        <h2 class="text-primary shrink-0">Featured speakers</h2>
        <%= link_to "see all speakers", speakers_path, class: "link text-right w-full" %>
      </div>
      <div class="relative" data-controller="scroll">
        <div class="overflow-x-auto scroll-smooth snap-x snap-mandatory"
             data-scroll-target="container"
             data-action="scroll->scroll#checkScroll">
          <div class="flex pb-4 gap-4">
            <% @featured_speakers.each do |speaker| %>
              <div class="snap-start" data-scroll-target="card">
                <%= render partial: "speakers/card", locals: {speaker: speaker} %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="absolute right-0 top-0 h-full w-24 bg-gradient-to-l from-white to-transparent pointer-events-none"
             data-scroll-target="gradient"></div>
      </div>
    </section>

    <section class="flex flex-col w-full gap-4">
      <div class="flex items-center justify-between w-full">
        <h2 class="text-primary shrink-0">Latest events</h2>
        <%= link_to "see all events", events_path, class: "link text-right w-full" %>
      </div>
      <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
        <%= render partial: "events/card", collection: @latest_events, as: :event %>
      </div>
    </section>
  </div>
</main>
