<div class="card card-bordered">
  <div class="card-body">
    <div class="flex flex-col gap-4">
      <% title = "#{suggestion.suggestable.class} : #{suggestion.suggestable.title}" %>
      <%= link_to title, suggestion.suggestable, target: "_blank", class: "link" %>
      <div class="grid grid-cols-2 gap-4">
        <% suggestion.content.keys.each do |key| %>
          <span><%= key %></span>
          <span>
            <%= Diffy::Diff.new(suggestion.suggestable[key].to_s, suggestion.content[key].to_s, include_plus_and_minus_in_html: true).to_s(:html).html_safe %>
          </span>
        <% end %>
      </div>

      <div class="flex items-center gap-4">
        <%= button_to "Reject", admin_suggestion_path(suggestion), method: :delete, class: "btn btn-outline btn-sm" %>
        <%= button_to "Approve", admin_suggestion_path(suggestion), method: :patch, class: "btn btn-success btn-sm" %>
      </div>
    </div>
  </div>
</div>
