<%= turbo_frame_tag "events_without_videos" do %>
  <h2 class="mb-4">Events without videos (<%= @events_without_videos_count %>)</h2>

  <article class="prose mb-6">This section highlights events that do not have associated videos available. Explore these events to see if the talks weren't recorded or just not yet added the site.</article>

  <div id="events-without-locations" class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 min-w-full mb-6">
    <% @events_without_videos.each do |organisation, events| %>
      <%= content_tag :div, id: dom_id(organisation, "without-videos"), class: "p-4 rounded-lg border border-base-300 bg-white", target: :_blank do %>
        <div class="flex flex-col">
          <h3 class="line-clamp-1"><p>Organisation: <%= link_to organisation.name, organisation, class: "hover:underline" %></p></h3>

          <b class="mt-4 mb-2">Events without videos:</b>

          <% events.each do |event| %>
            <span><%= link_to event.name, event, class: "hover:underline" %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
