<%= turbo_frame_tag "talks_dates_out_of_bounds" do %>
  <h2 class="mb-4">Review Talk Dates (<%= @out_of_bound_talks_count %>)</h2>

  <article class="prose mb-6">This section shows talks with dates that don't quite match the event dates. Sometimes we only have the year for certain events, so we use that as a reference.</article>

  <div id="talks-dates-out-of-bounds" class="grid sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-4 min-w-full mb-6">
    <% @out_of_bound_talks.select { |_event, talks| talks.any? }.each do |event, talks| %>
      <%= content_tag :div, id: dom_id(event), class: "p-4 rounded-lg border bg-white", target: :_blank do %>
        <article class="prose">
          <h3 class="line-clamp-1">Event: <%= event.name %></h3>

          <b class="mt-4 mb-2">Talk date is outside event dates:</b>

          <p class="mb-2">Event Dates: <%= @dates_by_event_name[event.name].inspect %></p>

          <ul>
            <% talks.each do |talk| %>
              <li><%= link_to talk.title, talk %> (<%= link_to talk.date.to_fs(:long), talk %>)</li>
            <% end %>
          </ul>
        </article>
      <% end %>
    <% end %>
  </div>
<% end %>
