<%= turbo_frame_tag "talks_without_slides" do %>
  <h2 class="mb-4">Talks without slides (<%= @talks_without_slides_count %>)</h2>

  <article class="prose mb-6">These talks currently do not have slides attached. However, we know that the speaker has an account on Speakerdeck where they usually upload their slides. Feel free to explore if these talks have associated slidedecks on Speakerdeck.com.</article>

  <div id="speakers" class="grid sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-4 min-w-full mb-6">
    <% @talks_without_slides.each do |talk| %>
      <%= link_to edit_talk_path(talk), id: dom_id(talk), class: "hover:bg-gray-100 p-4 rounded-lg border bg-white" do %>
        <div class="flex flex-col">
          <span class="font-bold"><%= talk.title %></span>
          <span><%= talk.speakers.first.name %></span>
        </div>
      <% end %>
    <% end %>

    <% remaining_talks_count = (@talks_without_slides_count - @talks_without_slides.count) %>

    <% if remaining_talks_count.positive? %>
      <div class="flex items-center hover:bg-gray-100 p-4 rounded-lg border bg-white">
        <span>and <%= remaining_talks_count %> more</span>
      </div>
    <% end %>
  </div>
<% end %>
