
<% content_for :head do %>
  <%= vite_javascript_tag "chartkick" %>
<% end %>

<div class="container flex flex-col w-full gap-4 my-8">
  <h1 class="text-center mb-8">Open analytics</h1>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <%= turbo_frame_tag "daily_visits", src: daily_visits_analytics_dashboards_path, lazy: true %>
    <%= turbo_frame_tag "daily_page_views", src: daily_page_views_analytics_dashboards_path, lazy: true %>

    <%= turbo_frame_tag "monthly_visits", src: monthly_visits_analytics_dashboards_path, lazy: true %>
    <%= turbo_frame_tag "monthly_page_views", src: monthly_page_views_analytics_dashboards_path, lazy: true %>

    <%= turbo_frame_tag "yearly_talks", src: yearly_talks_analytics_dashboards_path, lazy: true %>
    <%= turbo_frame_tag "yearly_speakers", src: yearly_speakers_analytics_dashboards_path, lazy: true %>

    <%= turbo_frame_tag "yearly_first_time_speakers", src: yearly_first_time_speakers_analytics_dashboards_path, lazy: true %>
    <%= turbo_frame_tag "yearly_unique_speakers", src: yearly_unique_speakers_analytics_dashboards_path, lazy: true %>

    <%= turbo_frame_tag "speaking_experience", src: speaking_experience_analytics_dashboards_path, lazy: true %>
  </div>
</div>
