
<% content_for :head do %>
  <%= vite_javascript_tag "chartkick" %>
<% end %>

<div class="container flex flex-col w-full gap-4 my-8">
  <h1 class="text-center mb-8">Open analytics</h1>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <%= turbo_frame_tag "daily_visits", src: daily_visits_analytics_dashboards_path, lazy: true do %>
      <h2 class="text-center mb-4">Daily visits</h2>
      <div class="skeleton h-[300px]"></div>
    <% end %>
    <%= turbo_frame_tag "daily_page_views", src: daily_page_views_analytics_dashboards_path, lazy: true do %>
      <h2 class="text-center mb-4">Daily page views</h2>
      <div class="skeleton h-[300px]"></div>
    <% end %>
    <%= turbo_frame_tag "monthly_visits", src: monthly_visits_analytics_dashboards_path, lazy: true do %>
      <h2 class="text-center mb-4">Monthly visits</h2>
      <div class="skeleton h-[300px]"></div>
    <% end %>
    <%= turbo_frame_tag "monthly_page_views", src: monthly_page_views_analytics_dashboards_path, lazy: true do %>
      <h2 class="text-center mb-4">Monthly page views</h2>
      <div class="skeleton h-[300px]"></div>
    <% end %>
    <%= turbo_frame_tag "top_referrers", src: top_referrers_analytics_dashboards_path, lazy: true do %>
      <h2 class="text-center mb-4">Top referrers</h2>
      <div class="skeleton h-[300px]"></div>
    <% end %>
    <%= turbo_frame_tag "top_landing_pages", src: top_landing_pages_analytics_dashboards_path, lazy: true do %>
      <h2 class="text-center mb-4">Top landing pages</h2>
      <div class="skeleton h-[300px]"></div>
    <% end %>
    <%= turbo_frame_tag "yearly_talks", src: yearly_talks_analytics_dashboards_path, lazy: true do %>
      <h2 class="text-center mb-4">Yearly talks</h2>
      <div class="skeleton h-[300px]"></div>
    <% end %>
  </div>
</div>
