<div class="flex flex-col gap-2 pb-4" id="<%= dom_id(speaker, :about) %>">
  <% if speaker.github.present? %>
    <span>
      <strong>GitHub:</strong> <%= link_to speaker.github, "https://www.github.com/#{speaker.github}", target: "_blank" %>
    </span>
  <% end %>
  <% if speaker.twitter.present? %>
    <span>
      <strong>Twitter:</strong> <%= link_to speaker.twitter, "https://www.twitter.com/#{speaker.twitter}", target: "_blank" %>
    </span>
  <% end %>
  <% if speaker.speakerdeck.present? %>
    <span>
      <strong>Speakerdeck:</strong> <%= link_to speaker.speakerdeck, "https://speakerdeck.com/#{speaker.speakerdeck}", target: "_blank" %>
    </span>
  <% end %>
  <% if speaker.website.present? %>
    <span>
      <strong>Website:</strong> <%= link_to speaker.website, speaker.valid_website_url, target: "_blank" %>
    </span>
  <% end %>
  <% if speaker.bio.present? %>
    <span>
      <strong>Bio:</strong> <%= speaker.bio %>
    </span>
  <% end %>
</div>
