<%= form_with(model: speaker, class: "flex flex-col gap-8") do |form| %>
  <% if speaker.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
        <% speaker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :twitter %>
    <%= form.text_field :twitter, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :github %>
    <%= form.text_field :github, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :bio %>
    <%= form.text_area :bio, rows: 4, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :website %>
    <%= form.text_field :website, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :slug %>
    <%= form.text_field :slug, class: "input input-bordered w-full" %>
  </div>

  <div class="flex items-center gap-4">
    <%= ui_button "Suggest modifications", type: :submit %>
    <%= ui_button "Cancel", url: speaker_path(speaker), outline: true, role: :button %>
  </div>
<% end %>
