<%= form_with(model: speaker, class: "flex flex-col gap-4") do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :github, "GitHub" %>
    <%= form.text_field :github, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :twitter, "Twitter/X (URL or handle)" %>
    <%= form.text_field :twitter, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :mastodon, "Mastodon (Full URL/handle)" %>
    <%= form.text_field :mastodon, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :linkedin, "LinkedIn (URL or slug)" %>
    <%= form.text_field :linkedin, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :bsky, "Bluesky (URL or handle)" %>
    <%= form.text_field :bsky, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :speakerdeck, "Speakerdeck" %>
    <%= form.text_field :speakerdeck, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.label :bio %>
    <%= form.text_area :bio, rows: 4, class: "textarea textarea-bordered w-full" %>
  </div>

  <div>
    <%= form.label :pronouns %>
    <div data-controller="pronouns-select">
      <%= form.select :pronouns_type, Speaker::PRONOUNS, {}, class: "select select-bordered w-full", data: {action: "pronouns-select#change", pronouns_select_target: "type"} %>
      <%= form.text_field :pronouns, placeholder: "Custom pronouns", class: "hidden mt-3 input input-bordered w-full", data: {pronouns_select_target: "input"} %>
    </div>
  </div>

  <div>
    <%= form.label :website %>
    <%= form.text_field :website, class: "input input-bordered w-full" %>
  </div>

  <div class="flex items-center gap-4">
    <%= ui_button "Suggest modifications", type: :submit %>
    <%= ui_button "Cancel", data: {action: "click->modal#close"}, role: :button, kind: :ghost %>
  </div>
<% end %>
