<div id="<%= dom_id(speaker, :header_content) %>" class="flex flex-col items-center mb-6 text-center lg:flex-row gap-8 lg:justify-right lg:text-left lg:mb-0">
  <div class="relative w-fit">
    <%= image_tag speaker.avatar_url(size: 200),
          class: "rounded-full border border-[#D9DFE3] size-24 md:size-36",
          height: 200,
          width: 200,
          alt: "GitHub picture profile of #{speaker.github}",
          loading: :lazy %>
  </div>

  <div class="flex flex-col items-center justify-center gap-2 title lg:items-start">
    <div class="flex flex-col items-center justify-center font-bold text-black lg:flex-row lg:justify-start gap-2 flex-nowrap">
      <h1 class="flex items-center gap-2" style="view-transition-name: title"><%= speaker.name %>
        <% if speaker.pronouns.present? && ["dont_specify", "not_specified"].exclude?(speaker.pronouns_type) %>
          <span class="text-sm content-center text-[#737373]">(<%= speaker.pronouns %>)</span>
        <% end %>
        <% if speaker.verified? %>
          <%= fa("badge-check", class: "fill-blue-500", size: :sm) %>
        <% end %>
      </h1>
    </div>

    <p class="text-[#636B74] max-w-[700px]">
      <%= speaker.bio %>
    </p>
    <% speaker.social_profiles.website.each do |profile| %>
      <%= external_link_to profile.value.gsub(%r{^https?://}, ""), profile.value, class: "text-center" %>
    <% end %>

    <div class="flex justify-center mt-2 lg:justify-start">
      <%= render "speakers/socials", speaker: speaker %>

    </div>
  </div>
</div>
