<div class="block lg:flex gap-8 align-center justify-between" id="<%= dom_id(speaker, :header) %>">
  <%= render "speakers/header_content", speaker: speaker %>

  <div class="flex flex-col gap-3 place-content-center align-center lg:max-w-[250px]">
    <% if speaker.website.present? %>
      <%= link_to speaker.website, class: "btn btn-sm btn-neutral w-full tooltip tooltip-bottom flex place-content-center", target: "_blank", data: {tip: speaker.website} do %>
        <%= fa "arrow-up-right-from-square", size: :xs, class: "fill-white" %> Visit Website
      <% end %>
    <% end %>

    <%= render "speakers/actions", speaker: speaker %>
  </div>
</div>
