<div id="<%= dom_id(speaker, :socials) %>">
  <div id="socials" class="flex items-center -ml-4">
    <% if speaker.github.present? %>
      <%= ui_button url: "https://www.github.com/#{speaker.github}", kind: :ghost, size: :sm, target: "_blank" do %>
        <%= fab("github", size: :sm) %>
      <% end %>
    <% end %>

    <% if speaker.twitter.present? %>
      <%= ui_button url: "https://www.x.com/#{speaker.twitter}", kind: :ghost, size: :sm, target: "_blank" do %>
        <%= fab("twitter", size: :sm) %>
      <% end %>
    <% end %>

    <% if speaker.bsky.present? %>
      <%= ui_button url: "https://bsky.app/profile/#{speaker.bsky}", kind: :ghost, size: :sm, target: "_blank", data: {tip: speaker.bsky} do %>
        <%= fab("bluesky", size: :sm) %>
      <% end %>
    <% end %>

    <% if speaker.mastodon.present? %>
      <%= ui_button url: speaker.mastodon, kind: :ghost, size: :sm, target: "_blank", data: {tip: speaker.mastodon} do %>
        <%= fab("mastodon", size: :sm) %>
      <% end %>
    <% end %>

    <% if speaker.linkedin.present? %>
      <%= ui_button url: "https://www.linkedin.com/in/#{speaker.linkedin}", kind: :ghost, size: :sm, target: "_blank", data: {tip: speaker.linkedin} do %>
        <%= fab("linkedin", size: :sm) %>
      <% end %>
    <% end %>

    <% if speaker.speakerdeck.present? %>
      <%= ui_button url: "https://speakerdeck.com/#{speaker.speakerdeck}", kind: :ghost, size: :sm, target: "_blank", data: {tip: speaker.speakerdeck} do %>
        <%= fab("speaker-deck", size: :sm) %>
      <% end %>
    <% end %>
  </div>
</div>
