<div id="<%= dom_id(speaker, :socials) %>">
  <div id="socials" class="flex gap-2">
    <% if speaker.github.present? %>
      <%= link_to "https://www.github.com/#{speaker.github}", target: "_blank", class: "hover:bg-black hover:fill-white bg-white border rounded-full p-2 tooltip tooltip-top", data: {tip: speaker.github} do %>
        <%= fab("github") %>
      <% end %>
    <% end %>

    <% if speaker.twitter.present? %>
      <%= link_to "https://www.x.com/#{speaker.twitter}", target: "_blank", class: "hover:bg-[#74C0FC] hover:fill-white bg-white border rounded-full p-2 tooltip tooltip-top", data: {tip: speaker.twitter} do %>
        <%= fab("twitter") %>
      <% end %>
    <% end %>

    <% if speaker.bsky.present? %>
      <%= link_to "https://bsky.app/profile/#{speaker.bsky}", target: "_blank", class: "hover:bg-[#0085FF] hover:fill-white bg-white border rounded-full p-2 tooltip tooltip-top", data: {tip: speaker.bsky} do %>
        <%= fab("bluesky") %>
      <% end %>
    <% end %>

    <% if speaker.mastodon.present? %>
      <%= link_to speaker.mastodon, target: "_blank", class: "hover:bg-[#6364FF] hover:fill-white bg-white border rounded-full p-2 tooltip tooltip-top", data: {tip: speaker.mastodon} do %>
        <%= fab("mastodon") %>
      <% end %>
    <% end %>

    <% if speaker.linkedin.present? %>
      <%= link_to "https://www.linkedin.com/in/#{speaker.linkedin}", target: "_blank", class: "hover:bg-[#0A66C2] hover:fill-white bg-white border rounded-full p-2 tooltip tooltip-top", data: {tip: speaker.linkedin} do %>
        <%= fab("linkedin") %>
      <% end %>
    <% end %>

    <% if speaker.speakerdeck.present? %>
      <%= link_to "https://speakerdeck.com/#{speaker.speakerdeck}", target: "_blank", class: "hover:bg-[#009287] hover:fill-white bg-white border rounded-full p-2 tooltip tooltip-top", data: {tip: speaker.speakerdeck} do %>
        <%= fab("speaker-deck") %>
      <% end %>
    <% end %>
  </div>
</div>
