<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_from @speaker %>

<div class="container py-8">
  <div class="block lg:flex gap-8 align-center justify-between">
    <div class="flex flex-col lg:flex-row gap-8 items-center lg:justify-right text-center lg:text-left mb-6 lg:mb-0">
      <div class="relative w-fit">
        <%= image_tag @speaker.github_avatar_url(size: 200),
              class: "rounded-full border border-[#D9DFE3] size-24 md:size-36",
              height: 200,
              width: 200,
              alt: "GitHub picture profile of #{@speaker.github}",
              loading: :lazy %>

        <% if @speaker.verified? %>
          <div class="absolute right-0 top-0 badge badge-accent flex gap-1">
            <%= fa("badge-check", class: "fill-white", size: :xs) %>

            Verified
          </div>
        <% end %>
      </div>

      <div class="flex-col flex gap-3 justify-center">
        <h1 class="flex flex-col lg:flex-row justify-center lg:justify-start text-black font-bold gap-2" style="view-transition-name: title">
          <%= @speaker.name %>

          <% if @speaker.pronouns.present? && ["dont_specify", "not_specified"].exclude?(@speaker.pronouns_type) %>
            <span class="text-sm content-center text-[#737373]">(<%= @speaker.pronouns %>)</span>
          <% end %>
        </h1>

        <p class="text-[#636B74] max-w-[700px]">
          <%= @speaker.bio %>
        </p>

        <div class="mt-2 flex justify-center lg:justify-start">
          <%= render "speakers/socials", speaker: @speaker %>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-3 align-center lg:max-w-[250px]">
      <% if @speaker.website %>
        <%= link_to "Visit Website", @speaker.website, class: "btn btn-sm btn-primary w-full tooltip tooltip-bottom flex place-content-center", target: "_blank", data: {tip: @speaker.website} %>
      <% end %>
      <%= render "speakers/actions", speaker: @speaker %>
    </div>
  </div>

  <% if @topics.any? %>
    <div class="mt-9 mb-3">
      <%= render partial: "topics/badge_list", locals: {topics: @topics, back_to_url: request.fullpath, back_to_title: @speaker.name} %>
    </div>
  <% end %>

  <hr class="my-6">

  <div role="tablist" class="tabs tabs-bordered mt-6">
    <% if @speaker.talks.any? %>
      <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="All Talks" style="width: 100px" checked>

      <div role="tabpanel" class="tab-content !rounded-s-xl rounded-xl bg-base-200/50 p-6 mt-6 overflow-hidden">
        <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
          <%= render partial: "talks/card",
                collection: @talks,
                as: :talk,
                locals: {
                  favoritable: true,
                  user_favorite_talks_ids: @user_favorite_talks_ids,
                  back_to: request.fullpath,
                  back_to_title: @speaker.name
                } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
