<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_from @speaker %>

<div class="container py-8">
  <%= render partial: "speakers/header", locals: {speaker: @speaker} %>

  <% if @topics.any? && @talks.length.positive? %>
    <div class="mt-9 mb-3">
      <%= render partial: "topics/badge_list", locals: {topics: @topics, back_to_url: back_to_from_request, back_to_title: @speaker.name} %>
    </div>
  <% end %>

  <hr class="my-6">

  <div role="tablist" class="tabs tabs-bordered mt-6">
    <% if @talks.length.positive? %>
      <input type="radio" name="talk_tabs" role="tab" class="tab" aria-label="All Talks" style="width: 100px" checked>

      <div role="tabpanel" class="tab-content mt-6">
        <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
          <%= render partial: "talks/card",
                collection: @talks,
                as: :talk,
                locals: {
                  favoritable: true,
                  user_favorite_talks_ids: @user_favorite_talks_ids,
                  watched_talks_ids: user_watched_talks_ids,
                  back_to: back_to_from_request,
                  back_to_title: @speaker.name
                } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
