<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <% if Rails.env.production? %>
      <link rel="canonical" href="<%= canonical_url %>">
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags site: "Ruby Video" %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= vite_stylesheet_tag "application.css", media: "all", "data-turbo-track": "reload" %>
<%#= turbo_stream_from @list %>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= yield :head %>
  </head>

  <body>
    <%= render "shared/top_banner" %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <div class="min-h-screen">
      <%= yield %>
    </div>

    <%= render "shared/footer" %>
    <%= turbo_frame_tag "modal", target: "_top" %>
  </body>
</html>
