<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags site: "Ruby Video" %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <%= vite_stylesheet_tag "application.css" %>

    <%= auto_discovery_link_tag :rss, feed_url(format: :rss) %>
    <%= auto_discovery_link_tag :atom, feed_url(format: :atom) %>

    <%= yield :head %>
  </head>

  <body data-controller="view-transition-page-cleaner">
    <%= render "shared/top_banner" %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="min-h-screen">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
