<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags site: "Ruby Video" %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= vite_stylesheet_tag "application.js", media: "all", "data-turbo-track": "reload" unless ViteRuby.instance.dev_server_running? %>
    <%= yield :head %>
  </head>

  <body>
    <%= render "shared/top_banner" %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="min-h-screen">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
