<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags site: "Ruby Video" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= yield :head %>
  </head>

  <body data-controller="view-transition-page-cleaner">
    <%= render "shared/top_banner" %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="min-h-screen">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
